.menu-list {
	padding: 0 3px 0 3px;
}

.menu-list-item {
	margin-top: 3px;
	padding-left: 20px;
	font-size: 11px;
	line-height: 20px;
	cursor: pointer;
	border: 1px solid #fff;
}

.menu-list .x-item-selected {
	font-weight: bold; 
	color: #15428B;
	background-color: #DFE8F6;
	border: 1px dotted #A3BAE9;
}

.menu-list-item-hover {
	background-color: #eee;
}
.tabs {
	background-image:url(../images/tabs.gif) !important;
}

.icon-user {
	background-image: url(../images/user.png) !important;
}
.icon-add {
    background-image: url(../images/add.png) !important;
}
.icon-delete {
    background-image: url(../images/delete.png) !important;
}
.icon-refresh {
    background-image: url(../images/refresh.png) !important;
}
